services:
  frontend:
    image: frontend
    build:
      context: ./frontend/
      dockerfile: Dockerfile
    stdin_open: true
    depends_on:
      - backend
    ports:
      - "5173:80"
    networks:
    - mern-app
  backend:
    image: backend
    build:
      context: ./backend/
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    networks:
      - mern-app
networks:
  mern-app:
    driver: bridge